<%- include('header'); %>
<section class="vehicle-name">
  <h2><span id="vehicle-year">2016</span><span> </span><span id="vehicle-make">Ford</span><span> </span><span id="vehicle-model">Focus RS</span></h2>
</section>

<section class="image-preview">
  <div class="row">
    <div class="col-lg-8 col-md-4 col-sm-4 image-container">
      <img src="https://media.carsandbids.com/cdn-cgi/image/width=1800,quality=70/87e54a954ed0bbe92e3ae67af8b8ca7e3ef3b676/photos/IG6CulagnHS.jpg?t=160918142780" id="expandedImg">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-col">
      <div class="row image-selection-row">
        <div class="col-lg-6 image-selection-col">
          <img src="https://media.carsandbids.com/cdn-cgi/image/width=1800,quality=70/87e54a954ed0bbe92e3ae67af8b8ca7e3ef3b676/photos/IG6CulagnHS.jpg?t=160918142780" alt="Nature" onclick="myFunction(this);">
        </div>
        <div class="col-lg-6 image-selection-col">
          <img src="https://media.carsandbids.com/cdn-cgi/image/width=1800,quality=70/87e54a954ed0bbe92e3ae67af8b8ca7e3ef3b676/photos/OFEZvliGtIV.jpg?t=160867213310" alt="Snow" onclick="myFunction(this);">
        </div>
      </div>
      <div class="row image-selection-row">
        <div class="col-lg-6 image-selection-col">
          <img src="https://media.carsandbids.com/cdn-cgi/image/width=1800,quality=70/87e54a954ed0bbe92e3ae67af8b8ca7e3ef3b676/photos/TPQ1KIKlyk.jpg?t=160918231942" onclick="myFunction(this);">
        </div>
        <div class="col-lg-6 image-selection-col">
          <img src="https://media.carsandbids.com/cdn-cgi/image/width=1800,quality=70/87e54a954ed0bbe92e3ae67af8b8ca7e3ef3b676/photos/C5GEvCRoE_.jpg?t=160918209055" onclick="myFunction(this);">
        </div>
      </div>
      <div class="row image-selection-row">
        <div class="col-lg-6 image-selection-col">
          <img src="https://media.carsandbids.com/cdn-cgi/image/width=1800,quality=70/87e54a954ed0bbe92e3ae67af8b8ca7e3ef3b676/photos/NpkRPxMkYr.jpg?t=160918209180" onclick="myFunction(this);">
        </div>
        <div class="col-lg-6 image-selection-col">
          <img src="https://media.carsandbids.com/cdn-cgi/image/width=1800,quality=70/87e54a954ed0bbe92e3ae67af8b8ca7e3ef3b676/photos/gyB2fC0DlG.jpg?t=160918229730" onclick="myFunction(this);">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="table-section">
  <div class="details-table">
    <div class="h3-price">
      <h3>Price: $<span id="price">carInfo.car.price</span> </h3>
    </div>
    <table align="center">
      <div class="row">
        <tr>
          <th>Make</th>
          <td><%=carInfo.car.make%></td>
          <th>Engine</th>
          <td><%=carInfo.car.engine%></td>
        </tr>
        <tr>
          <th>Model</th>
          <td><%=carInfo.car.model%></td>
          <th>Drivetrain</th>
          <td><%=carInfo.car.drivetrain%></td>
        </tr>
        <tr>
          <th>Model Year</th>
          <td><%=carInfo.car.model_year%></td>
          <th>Transmission</th>
          <td><%=carInfo.car.transmission%></td>
        </tr>
        <tr>
          <th>Milage</th>
          <td><%=carInfo.car.milage%></td>
          <th>Body Type</th>
          <td><%=carInfo.car.body_type%></td>
        </tr>
        <tr>
          <th>Any Modifications</th>
          <td><%=carInfo.car.any_mod%></td>
          <th>Exterior Color</th>
          <td><%=carInfo.car.ext_col%></td>
        </tr>
        <tr>
          <th>Previous Owners</th>
          <td><%=carInfo.car.prev_own%></td>
          <th>Interior Color</th>
          <td><%=carInfo.car.int_col%></td>
        </tr>
    </table>
  </div>
  <div class="detials-highlights">
    <h3>Highlights</h3>
    <p><%=carInfo.car.feature%></p>
  </div>
  <div class="details-button ">
    <button type="button" name="button" class="contact-button">Contact Seller</button>
  </div>
</section>
<%- include('footer'); %>