<%- include('header'); %>
<section class="vehicle-name">
  <h2><span id="vehicle-year"><%=carInfo.car.model_year%></span><span> </span><span id="vehicle-make"><%=carInfo.car.make%></span><span> </span><span id="vehicle-model"><%=carInfo.car.model%></span></h2>
</section>

<section class="image-preview">
  <div class="row">
    <div class="col-lg-8 col-md-4 col-sm-4 image-container">
      <img src="<%=carInfo.img.img1%>" id="expandedImg">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-col">
      <div class="row image-selection-row">
        <div class="col-lg-6 image-selection-col">
          <img src="<%=carInfo.img.img1%>" alt="Nature" onclick="myFunction(this);">
        </div>
        <div class="col-lg-6 image-selection-col">
          <img src="<%=carInfo.img.img2%>" alt="Snow" onclick="myFunction(this);">
        </div>
      </div>
      <div class="row image-selection-row">
        <div class="col-lg-6 image-selection-col">
          <img src="<%=carInfo.img.img3%>" onclick="myFunction(this);">
        </div>
        <div class="col-lg-6 image-selection-col">
          <img src="<%=carInfo.img.img4%>" onclick="myFunction(this);">
        </div>
      </div>
      <div class="row image-selection-row">
        <div class="col-lg-6 image-selection-col">
          <img src="<%=carInfo.img.img5%>" onclick="myFunction(this);">
        </div>
        <div class="col-lg-6 image-selection-col">
          <img src="<%=carInfo.img.img6%>" onclick="myFunction(this);">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="table-section">
  <div class="details-table">
    <div class="h3-price">
      <h3>Price: $<span id="price"> <%=carInfo.car.price%></span> </h3>
    </div>
    <table align="center">
      <div class="row">
        <tr>
          <th>Make</th>
          <td><%=carInfo.car.make%></td>
          <th>Engine</th>
          <td><%=carInfo.car.engine%></td>
        </tr>
        <tr>
          <th>Model</th>
          <td><%=carInfo.car.model%></td>
          <th>Drivetrain</th>
          <td><%=carInfo.car.drivetrain%></td>
        </tr>
        <tr>
          <th>Model Year</th>
          <td><%=carInfo.car.model_year%></td>
          <th>Transmission</th>
          <td><%=carInfo.car.transmission%></td>
        </tr>
        <tr>
          <th>Milage</th>
          <td><%=carInfo.car.milage%></td>
          <th>Body Type</th>
          <td><%=carInfo.car.body_type%></td>
        </tr>
        <tr>
          <th>Any Modifications</th>
          <td><%=carInfo.car.any_mod%></td>
          <th>Exterior Color</th>
          <td><%=carInfo.car.ext_col%></td>
        </tr>
        <tr>
          <th>Previous Owners</th>
          <td><%=carInfo.car.prev_own%></td>
          <th>Interior Color</th>
          <td><%=carInfo.car.int_col%></td>
        </tr>
    </table>
  </div>
  <div class="detials-highlights">
    <h3>Highlights</h3>
    <p><%=carInfo.car.feature%></p>
  </div>
  <div class="details-button ">
    <div class="center">
        <button type="button" name="button" class="contact-button" onclick="openContact()">Contact Seller</button>
    </div>
    <div class="popup-overlay" onclick="closeContact()"></div>
  <div class="popup">
    <div class="popup-header">
      Seller Details
    </div>
    <div class="popup-content">
      <h5>Name: <%=carInfo.userInfo.name%></h5>
      <div class="row">
        <div class="col-lg-6">
          <h5>State: <%=carInfo.userInfo.state%></h5>
        </div>
        <div class="col-lg-6">
          <h5>City: <%=carInfo.userInfo.city%></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h5>Zip Code: <%=carInfo.userInfo.zipcode%></h5>
        </div>
        <div class="col-lg-6">
          <h5>Phone: <%=carInfo.userInfo.phone%></h5>
        </div>
      </div>
      <h5>Email: <%=carInfo.userInfo.email%></h5>
    </div>
  </div>
  </div>
</section>
<%- include('footer'); %>
