<%- include('header'); %>
<!-- remove ad section -->
  <section class="remove-ad-section">
    <div class="remove-ad">
      <form action="/remove_ad" method="post" enctype="multipart/form-data">
          <div class="row">       
              <div class="col-lg-3 remove-car-picture">
                <img src="<%=post.img.img1%>" alt="">
              </div>
              <div class="col-lg-6 remove-car-details">
                <h2><span id="vehicle-year"><%=post.car.model_year%></span><span> </span><span id="vehicle-make"><%=post.car.make%></span><span> </span><span id="vehicle-model">Focus RS</span></h2>
                <h5>Seller: <%=post.userInfo.name%></h5>
              </div>
              <div class="col-lg-3 remove-ad-button">
                <button type="Submit" name="button">Remove</button>
              </div>           
          </div>
      </form>
    </div>
  </section>

<%- include('footer'); %>
